:root {
	--primary-text-color: #c0c0c0;
	--kontact-text-color: #b4b4b4;
	--accent-color: #ffffff;
	--title-color: #fffafa;
}

body {
	background-color: #007eff;
	color: var(--primary-text-color);
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

/* Оформлення шапки */

.header {
}

/* Логотип сайту */
.logo {
	color: #ffc300;
	text-decoration: none;
}

.logo-blue {
	color: #0000ff;
}

.nav .logo:hover,
.nav .logo:focus {
	color: var(--accent-color);
}

.nav .logo-blue:hover,
.nav .logo-blue:focus {
	color: var(--accent-color);
}

/* Навігація сайту */
.site-nav .games {
	color: #ff0000;
}

.site-nav .heroes {
	color: #ea4500;
}

.site-nav .spirits {
	color: #2aff00;
}

.site-nav .histories {
	color: #ff0074;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .spirits {
	color: var(--accent-color);
}

/* Контактна інформація */
.contact .contact-link {
	color: var(--kontact-text-color);
}

.contact .contact-link:hover,
.contact .contact-link:focus {
	color: var(--accent-color);
}

/* Унікальний контен сторінки */

.section .section-title {
	color: var(--title-color);
}

/* Галирея */
.link .section-subtitle {
	color: var(--title-color);
}
.link .section-text {
	color: var(--primary-text-color);
}

/* Футер */

.footer {
}

.address .address {
	color: var(--title-color);
}
.address .contact-link {
	color: var(--kontact-text-color);
}
